<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Classification d'Image</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.png" />
  <!-- Add icon library for social buttons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }
  </style>
</head>


<body>
  <header>
    <div class="container text-center">
      <h1 style="color:black">Classification d'Image - Cheval VS Humain</h1>
    </div>
  </header>

  {% block content %}
  {% endblock %}

</body>

</html>